<!-- admin check -->
<div *ngIf="user.admin">
    <!-- main container -->
    <div [ngSwitch]="view">
        <!-- the same view can be shown in more than one case -->
        <ng-template [ngSwitchCase]="'quiz'">
            <admin-quiz (navigateEvent)="navigateTo($event)"></admin-quiz>
        </ng-template>
        <ng-template [ngSwitchCase]="'inventory'">
            <admin-inventory (navigateEvent)="navigateTo($event)"></admin-inventory>
        </ng-template>
        <!--default case when there are no matches -->
        <ng-template [ngSwitchDefault]>
            <div class="row justify-content-center">
                <section>
                    <div class="admin">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQGOq8zcxHug0hBzXDNHOyUGQB9FJOHZsFiWw&usqp=CAU" alt="Quiz card image" />
                        <div class="adminDetails">
                            <h1>Quizzes</h1>
                            <p>Here you can create new quizzes or edit existing ones.</p>
                            <a class="btn btn-info" (click)="navigateTo('quiz')"> Quizzes</a>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="admin">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQhzeyvx6pAutBvjbdmTnzuRK9K6cDFyHqHNQ&usqp=CAU" alt="Inventory card image" />
                        <div class="adminDetails">
                            <h1>Inventory</h1>
                            <p>Here you can manage Swagg Shop product inventory</p>
                            <a class="btn btn-info" routerLink="/inventory">Inventory</a>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="admin">
                        <img src="" alt="discount_image">
                        <div class="adminDetails">
                            <h1>Discounts</h1>
                            <p>Here you can create new discounts or edit existing ones. </p>
                            <a class="btn btn-info" routerLink="/discounts">Discounts</a>
                        </div>
                    </div>
                </section>
            </div>
        </ng-template>
    </div>
</div>