<!-- admin check -->
<div *ngIf="user.admin">
    <!-- main container -->
    <div [ngSwitch]="view">
    <!-- the same view can be shown in more than one case -->
    <ng-template [ngSwitchCase]="'quiz'">
        <admin-quiz (navigateEvent)="navigateTo($event)"></admin-quiz>
    </ng-template>
    <ng-template [ngSwitchCase]="'inventory'">
        <admin-inventory (navigateEvent)="navigateTo($event)"></admin-inventory>
    </ng-template>
    <!--default case when there are no matches -->
    <ng-template [ngSwitchDefault]>
        <div class="row justify-content-center">
            <section>
                <img src="assets/Images/quizzes.jpg" alt="Quiz card image" />
                <div>
                    <h1>Quizzes</h1>
                    <p>Here you can create new quizzes or edit existing ones.</p>
                </div>
                <a class="btn btn-info button" (click)="navigateTo('quiz')"> Quizzes</a>
            </section>
            <section>
                <img src="assets/Images/inventory.jpg" alt="Inventory card image" />
                <div>
                    <h1>Inventory</h1>
                    <p>Here you can manage Swagg Shop product inventory</p>                           
                </div>
                <a class="btn btn-info button" routerLink="/inventory">Inventory</a>
            </section>
            <section>
                <img src="assets/Images/discount.jpg" alt="discount_image">
                <div>
                    <h1>Discounts</h1>
                    <p>Here you can create new discounts or edit existing ones.</p>   
                </div>
                <a class="btn btn-info button" routerLink="/discounts">Discounts</a>
            </section>
        </div>
    </ng-template>
    </div>
</div>
