@import '../../../../styles';

section{
    display: flex;
    box-shadow: $shadow;
    position: relative;
    height: $height;
    margin: 2rem 0;
    
    div{
        padding: 1rem 1.5rem;
    }
    
    p{
        padding-bottom: 0.5rem;
    }

    img{
        width: $width;
        height: $height;
        object-fit: cover;
    }
    
    .button{
        position: absolute;
        bottom: 15px;
        right: 15px;
        padding: 0.5rem;
    }
}
