<div class="modal-header">
    <h4 class="modal-title italic" id="modal-basic-title">{{product.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body">
    <div class="text-center">
        <strong class="text-danger mb-1">* These fields are required.</strong>
    </div>
    <form (ngSubmit)="updateItem()" [formGroup]="updateProduct">
        <div class="row">
            <div class="col-12 col-md-6 mb-2">
                <label for="name"><span class="text-danger">* </span>Name:</label>
                <input type="text" class="form-control form-control-sm" id="inputName" name="name" formControlName="name" required>
                <p class="text-danger text-sm" [hidden]="name.valid || name.pristine"><strong>Name</strong> is required</p>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <label for="category">Category:</label>
                <input type="text" class="form-control form-control-sm" id="category" name="category" formControlName="category">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-2">
                <label for="brand">Brand:</label>
                <input type="text" class="form-control form-control-sm" id="brand" name="brand" formControlName="brand">
            </div>
            <div class="col-12 col-md-4 mb-2">
                <label for="model">Model:</label>
                <input type="text" class="form-control form-control-sm" id="inputModel" name="model" formControlName="model">
            </div>
            <div class="col-12 col-md-4 mb-2">
                <label for="color">Color:</label>
                <input type="text" class="form-control form-control-sm" id="inputColor" name="color" formControlName="color">
            </div>
        </div>
        <div class="mb-2">
            <label for="description">Description:</label>
            <textarea class="form-control form-control-sm" id="inputDescription" name="description" formControlName="description" rows="2"></textarea>
        </div>
        <div class="mb-2">
            <img [src]="image.value" id="product-img" alt="product_img" class="rounded mx-auto d-block mt-4 mb-4">
            <div>
                <label for="image">Image URL:</label>
                <input type="text" class="form-control form-control-sm" id="inputImage" name="image" formControlName="image">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-2">
                <label for="quantity"><span class="text-danger">* </span>Stock Quantity:</label>
                <input type="number" class="form-control form-control-sm" id="quantity" name="quantity" formControlName="quantity" required min="0" pattern="([0-9]+)">
                <p class="text-danger text-sm" [hidden]="quantity.valid || quantity.pristine">
                    <strong>Quantity</strong> is required
                </p>
                <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="negativeQ">
                    <strong>Sorry!</strong> Try adding fewer items to your cart.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <label for="unitPrice"><span class="text-danger">* </span>Points:</label>
                <input type="number" class="form-control form-control-sm" id="unitPrice" name="unitPrice" formControlName="unitPrice" required min="0" pattern="([0-9]+)">
                <p class="text-danger text-sm" [hidden]="unitPrice.valid || unitPrice.pristine">
                    <strong>Points</strong> is required
                </p>
            </div>
            <!--
				For this Branch we have adjusted calculations in the shopping cart to make discount inputs not a subtraction operation,
				but instead a percentage based calculation.
            -->
            <!-- block for editting discount -->
            <div class="col-12 col-md-4 mb-2">
                <label for="discountedAmount">Percent Off:</label>
                <input type="number" class="form-control form-control-sm" id="discountedAmount" name="discountedAmount" formControlName="discountedAmount" pattern="([0-9]+)">
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-danger btn-block" (click)="deleteItem(product)">Delete</button>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="!updateProduct.valid">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>