<div class="modal-header">
	<h4 class="modal-title" id="modal-basic-title">Update {{product.name}}</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body">
	<div *ngIf="userType==='admin'">
		<p class="text-sm text-danger mb-1">* These fields are required.</p>
	</div>
	<form (ngSubmit)="updateItem()" [formGroup]="updateProduct">
		<div class="row">
			<div class="col-12 col-md-6">* Name:
				<input type="text" class="form-control" id="inputName" name="name" formControlName="name" required>
				<p class="text-danger text-sm" [hidden]="name.valid || name.pristine">
					<strong>Name</strong> is required</p>
			</div>
			<div class="col-12 col-md-6">Brand:
				<input type="text" class="form-control" id="brand" name="brand" formControlName="brand">
			</div>
		</div>
		<div>Description:
			<input type="text" class="form-control" id="inputDescription" name="description"
				formControlName="description">
		</div>
		<div class="row">
			<div class="col-12 col-md-6">Model:
				<input type="text" class="form-control" id="inputModel" name="model" formControlName="model">
			</div>
			<div class="col-12 col-md-6">Category:
				<input type="text" class="form-control" id="category" name="category" formControlName="category">
			</div>
		</div>
		<div>
			<img [src]="image.value" alt="product_img" class="rounded mx-auto d-block mt-4 mb-4" style="width: 300px;">
			Image URL:
			<input type="text" class="form-control" id="inputImage" name="image" formControlName="image">
		</div>
		<div class="row">
			<div class="col-12 col-md-6">* Quantity:
				<input type="number" class="form-control" id="quantity" name="quantity" formControlName="quantity"
					required min="0" pattern="([0-9]+)">
				<p class="text-danger text-sm" [hidden]="quantity.valid || quantity.pristine">
					<strong>Quantity</strong> is required
				</p>
			</div>
			<div class="col-12 col-md-6 mb-2">
				<span class="text-danger" *ngIf="userType==='admin'">* </span>
				<strong *ngIf="userType==='admin'; else pointsBlock">Points:</strong>
				<ng-template #pointsBlock><span>Points:</span></ng-template>
				<input type="number" class="form-control form-control-sm" id="unitPrice" name="unitPrice"
					formControlName="unitPrice" required min="0" pattern="([0-9]+)">
				<p class="text-danger text-sm" [hidden]="unitPrice.valid || unitPrice.pristine">
					<strong>Points</strong> is required
				</p>
			</div>
		</div>
		<div>Color:
			<input type="text" class="form-control" id="inputColor" name="color" formControlName="color">
		</div>
		<div *ngIf="userType==='admin'" class="modal-footer">
			<button type="button" class="btn btn-outline-danger"
				(click)="activeModal.dismiss('Cross click')">Cancel</button>
			<button type="submit" class="btn btn-outline-orange" [disabled]="!updateProduct.valid">Save</button>
		</div>
		<div *ngIf="userType==='customer'" class="modal-footer">
			<button type="button" class="btn btn-outline-orange" (click)="reduceInventory()">Add to Cart</button>
		</div>

	</form>
</div>