<!-- wrap it all in a container, then it can fit under their header no problem -->
<div class="container main-cart-container">
    <!--AHHHHHHHH I am DAVE This is another change row layout -->
    <div class="row">

        <!-- Cart, on the left, with large item cards -->
        <div class="col-md-8 col-sm-12 center-divide">

            <div class="table-responsive-sm">

                <!-- mobile layout -->
                <ng-container *ngIf="mobile">
                    <ng-container *ngFor="let cItem of activeCart.cartItems">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td class="d-flex justify-content-between">
                                        <img class="img-large" src="{{getProductById(cItem.productId).src}}" />
                                        <div class="d-flex flex-column" style="text-align: right;">
                                            <h2>{{getProductById(cItem.productId).name}}</h2>
                                            <h3>{{getProductById(cItem.productId).points}} points</h3>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <div class="d-flex flex-column item-div-small">
                                        <label for="">
                                            <h5>Quantity: x{{cItem.quantity}}</h5>
                                        </label>
                                        <input class="form-control quantity-input" id="" type="number" min="1">
                                        <div class="d-flex item-mobile-check">
                                            <button class="btn btn-secondary quantity-button">Update</button>
                                            <button class="btn btn-danger">&#10006;</button>
                                        </div>
                                    </div>
                                </tr>

                            </tbody>
                        </table>

                    </ng-container>
                </ng-container>

                <!-- desktop layout -->
                <ng-container *ngIf="!mobile">
                    <table class="table table-striped">
                        <tbody>
                            <tr *ngFor="let product of TempProducts"
                                class="d-flex justify-content-around align-items-end">
                                <td>
                                    <img class="img-large" src="{{product.src}}" />
                                </td>
                                <td class="align-bottom">
                                    <h2>{{product.name}}</h2>
                                    <h3>{{product.points}} points</h3>
                                </td>

                                <td class="align-bottom quantity-large">
                                    <div class="d-flex flex-column item-div">
                                        <label for="">
                                            <h5>Quantity</h5>
                                        </label>
                                        <input class="form-control quantity-input" id="" type="number" min="1">
                                        <div class="d-flex item-mobile-check">
                                            <button class="btn btn-secondary quantity-button">Update</button>
                                            <button class="btn btn-danger">&#10006;</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>

            </div>

        </div>

        <!-- Checkout, on the right or underneath, with small item summary -->
        <div class="col-md-4 col-sm-12">

            <div class="container">

                <div class="row">
                    <table class="table">
                        <tr *ngFor="let product of TempProducts"
                            class="d-flex justify-content-between align-items-end small-row">
                            <td class="align-bottom img-frame">
                                <img class="img-small" src="{{product.src}}" />
                            </td>
                            <td class="align-bottom"><b>{{product.name}}</b></td>
                            <td class="align-bottom">{{product.points}} points</td>
                        </tr>
                    </table>
                </div>

                <div class="row card d-flex checkout-box">

                    <div class="card-title cart-total text-center">
                        <h2>Order Summary</h2>
                    </div>

                    <div class="container">
                        <div class="card-text cart-total d-flex align-bottom justify-content-between align-items-end">
                            <h4>Total:</h4>
                            <h6><span>650</span> points</h6>
                        </div>
                    </div>

                    <div class="container">
                        <div class="user-points card-text d-flex justify-content-between align-items-end">
                            <h4>Your Points:</h4>
                            <h6><span>1000</span> points</h6>
                        </div>
                    </div>

                    <div class="container">
                        <button class="btn btn-secondary btn-lg btn-block" href="#pointSource" data-toggle="collapse">
                            Pick Points
                        </button>
                        <div class="collapse points-div" id="pointSource">
                            <div class="card d-flex flex-column" id="pointsCard">
                                <h3 class="card-title text-center" style="border-bottom: 2px solid #474C55">Choose
                                    Sources</h3>
                                <div class="card-text d-flex justify-content-between align-items-end">
                                    <h5 href="#">Total Quiz Points:</h5>
                                    <h6><span>500</span></h6>
                                </div>
                                <input class="form-control" type="number" min="0" step="50" placeholder="Quiz Points">
                                <div class="card-text d-flex justify-content-between align-items-end">
                                    <h5 href="#">Total Bug Bounty Points:</h5>
                                    <h6><span>500</span></h6>
                                </div>
                                <input class="form-control" type="number" min="0" step="50"
                                    placeholder="Bug Bounty Points">
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-lg btn-block btn-primary">Purchase</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>