<div class="container">
  <section class="row justify-content-center">
    <h1>Welcome to the Revature Swagg Shop!</h1>
  </section>

  <section class="row justify-content-center">
    <h3 class="mt-3 lead text-center">
      <p>Here at Revature, we know our associates work hard, and want to look
        good doing it.</p>
      <p>Reward yourself for all that hard work with some
        cool Revature swagg!</p>
    </h3>
  </section>

  <section class="row justify-content-center">
    <ngb-carousel>

      <ng-template ngbSlide>
        <div class="img-wrapper">
          <img
            src="https://media.discordapp.net/attachments/760591490031288370/761255687321681970/20171003_011310_IMG_0485.JPG?width=400&height=533"
            alt="batman!" />
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="img-wrapper">
          <img src="https://cdn.discordapp.com/attachments/760591490031288370/761255724667240449/akidobbie.jpg" alt="aki doggie">
        </div>
      </ng-template>

    </ngb-carousel>
  </section>
</div>