<div id="landing"> 
  <ngb-carousel>
      <ng-template ngbSlide>
          <img src="./assets/Images/carousel1.png" alt="Scarf Discount" />
      </ng-template>
      <ng-template ngbSlide>
        <img src="./assets/Images/carousel2.png" alt="PS5 Discount" />
      </ng-template>
      <ng-template ngbSlide>
        <img src="./assets/Images/carousel3.png" alt="Headband Discount" />
      </ng-template>
  </ngb-carousel>

  <section>
    <h1><b>Welcome to the Revature Swagg Shop!</b></h1>
    <p>Here at Revature, we know our associates work hard, and want to look good doing it.</p>
    <p>Reward yourself for all that hard work with some cool Revature swagg!</p>
  </section>
</div>