<div class="container">
  <div>
    <h1>Welcome to the Revature Swagg Shop!</h1>
  </div>
  <br />
  <br />
  <div class="container">
    <div class="row">
      <h3 style="font-size: larger; text-align: center;">
        Here at Revature, we know our associates work hard, and want to look
        good doing it. <br />Reward yourself for all that hard work with some
        cool Revature swagg!
      </h3>
    </div>
    <br />
    <div
      id="carouselExampleSlidesOnly"
      class="carousel slide"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            class="d-block w-50"
            src="https://i1.wp.com/www.clipartbest.com/cliparts/9cz/oeM/9czoeMXRi.jpg"
            alt="black shirt slide"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-50"
            src="https://thumbs.dreamstime.com/b/vector-plastic-corporative-pen-mockup-white-realistic-your-company-d-pe-isolated-background-design-172515214.jpg"
            alt="pen slide"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-50"
            src="https://d0bb7f9bf11b5ad1a6b2-6175f06f5e3f64e15abbf67415a276ec.ssl.cf1.rackcdn.com/product-images/designlab/11-oz-matte-two-tone-coffee-mugs-7101-red1569504048.jpg"
            alt="coffee mug slide"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-50"
            src="https://image.freepik.com/free-psd/realistic-cap-mock-up_1310-152.jpg"
            alt="ball cap slide"
          />
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="jumbotron">
      <h1 class="display-4">Earn Points to get Swagg</h1>
      <p class="lead">
        Earn points to buy your cool Revature swagg by taking quizzes
      </p>
      <hr class="my-4" />
      <div class="row">
        <div class="border col-6"><br />JAVA<br /><br /></div>
        <div class="border col-6"><br />.NET<br /><br /></div>
        <div class="border col-6"><br />WEB TOOLS<br /><br /></div>
        <div class="border col-6"><br />ANOTHER QUIZ SUBJECT<br /><br /></div>
      </div>
      <br />
      <p>See all available quizzes here</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" routerLink="/quizzes" role="button"
          >Quizzes</a
        >
      </p>
    </div>
    <br />
    <br />
    <div class="jumbotron">
      <h1 class="display-4">More Ways to Earn Points</h1>
      <p class="lead">
        You can also use points you're already earning by linking your Bug
        Bounty account!
      </p>
      <hr class="my-4" />
      <div class="row">
        <img
          src="https://www.securitymagazine.com/ext/resources/Issues/2018/September/SEC0918-cyber-feature-slide1_900px.jpg"
          alt="temp bug bounty image"
          style="width: 512px; height: 256px;"
        />
      </div>
      <br />
      <p>Go to your account settings to link your Bug Bounty account</p>
      <p class="lead">
        <a
          class="btn btn-primary btn-lg"
          routerLink="/account/settings"
          role="button"
          >Account Settings</a
        >
      </p>
    </div>
  </div>
</div>
