<div class="container">
  <div class="row">
    <div class="border-right col-6 p-2">
      <div class="form-group">
        <label for="userPicture"></label>
        <div style="height: 300px; display: grid; justify-items: center; align-items: center;">
          <img *ngIf="!imagePreview && user.profilePic" [src]="'data:image/jpg;base64,' + user.profilePic"
            class="img-thumbnail" alt="Profile picture" style="height: -webkit-fill-available;" />
          <img *ngIf="!imagePreview && !user.profilePic" [src]="placeholderPic" alt="user pic placeholder"
            class="img-thumbnail" alt="Profile picture" style="height: -webkit-fill-available;" />
          <img *ngIf="imagePreview" [src]="imagePreview" class="img-thumbnail" alt="Image preview"
            style="height: -webkit-fill-available;" />
        </div>
          <form>
            <div class="input-group">
              <div class="custom-file">
                <input class="custom-file-input" type="file" id="fileInput" name="profilePic" accept="image/*"
                  (change)="onFileChanged($event)" />
                <label class="custom-file-label" for="fileInput">Choose file</label>
              </div>
              <div class="input-group-append">
                <button class="d-block btn btn-outline-light" [disabled]="!imagePreview" type="submit" id="btn1"
                  (click)="onUpload()">Upload</button>
              </div>
            </div>
          </form>
      </div>
      <form [formGroup]="userProfileForm">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="firstNameField">First Name: </label>
          <div class="col-sm-9">
            <input id="firstNameField" class="form-control" type="text" formControlName="firstName"
              placeholder="Enter first name..." />
          </div>
          <ng-container *ngIf="firstName.touched && firstName.invalid" class="alert alert-danger">
            <div *ngIf="firstName.errors.required">First name is required</div>
          </ng-container>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="lastNameField">Last Name: </label>
          <div class="col-sm-9">
            <input id="lastNameField" class="form-control" type="text" formControlName="lastName"
              placeholder="Enter last name..." />
          </div>
          <ng-container *ngIf="lastName.touched && lastName.invalid" class="alert alert-danger">
            <div *ngIf="lastName.errors.required">Last name is required</div>
          </ng-container>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label" for="emailField">Email: </label>
          <div class="col-sm-9">
            <input id="emailField" class="form-control" type="text" formControlName="email"
              placeholder="Enter email..." />
          </div>
          <ng-container *ngIf="email.touched && email.invalid" class="alert alert-danger">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">Valid email is required</div>
          </ng-container>
        </div>
      </form>
      <br />
      <button type="submit" [disabled]="!userProfileForm.valid" (click)="submitForm()" class="btn">Update
        Changes</button>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <button *ngIf="!evalAccount" type="submit" class="m-2 btn" (click)="createAccount('Eval')">Link To Your
            Eval</button>
          <h4 *ngIf="evalAccount">
            You have <span class="rev_orange">{{ evalAccount.points }}</span> points from the quizzes you have taken
          </h4>
          <br />
          <h4 *ngIf="bugAccount">
            You have <span class="rev_orange">{{ bugAccount.points }}</span> points from the bugs you have squashed
          </h4>
          <button *ngIf="!bugAccount" type="submit" class="m-2 btn" (click)="createAccount('Bug')">Link To Your Bug
            Bounty</button>
          <br />
          <h4 *ngIf="overflowAccount">
            You have <span class="rev_orange">{{ overflowAccount.points }}</span> points from the questions you've
            answered
          </h4>
          <button *ngIf="!overflowAccount" type="submit" class="m-2 btn" (click)="createAccount('Overflow')">Link To
            Your Rev OverFlow</button>
          <hr />
          <div class="row">
            <div class="justify-content-center col-12">
              <form [formGroup]="passForm">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label" for="newPass">New Password:</label>
                  <div class="col-sm-8">
                    <input class="form-control" type="password" formControlName="newPass" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label" for="confirmPass">Confirm Password:</label>
                  <div class="col-sm-8">
                    <input class="form-control" type="password" formControlName="confirmPass" />
                  </div>
                </div>
                <button class="btn" (click)="compareAndChangePassword()">Change Password</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>