@import '../../../../styles';

.submit {
    background-color: $primary;
    color: #fff;
}

.blue{
    background-color: $info;
    color: white;
}

.details-box {
    box-shadow: $shadow;
    border-radius: $radius;
    //height: 300px;

    .details{
        padding: 1rem 1rem 0;
        border-bottom: $border;
    }

    .answer {
        background-color: $primary;
        border: 1px solid $primary;
    }

    .answered {
        color: $primary;
        margin-right: 1rem;
    }

    .unanswered {
        color: $dark;
        margin-right: 1rem;
    }
}

.fa-question{
    background-color: $primary;
    padding: 0.75rem 1rem;
    color: white;
    margin-right: 0.5rem;
}

.question{
    font-size: x-large;
    color: $info;
}
