<!-- numbered buttons coorisponding to questions -->
<div *ngFor="let question of config.questions; let i = index">
  <button [class.bg-info]="isMarkedOff(i)" (click)="onFocus(i)">
    {{ i + 1 }}
  </button>
</div>
<!-- Current question -->
{{ config.questions[index].question }} <br />
<!-- Current multiple choice question options -->
<!-- Option 1 -->
<div *ngIf="config.questions[index].option1">
  <input
    (change)="onChange(index, 1)"
    [checked]="isChecked(index, 1)"
    type="radio"
    id="item1"
    [name]="index"
  />
  <label for="item1">{{ config.questions[index].option1 }}</label>
</div>
<div *ngIf="config.questions[index].option2">
  <input
    (change)="onChange(index, 2)"
    [checked]="isChecked(index, 2)"
    type="radio"
    id="item2"
    [name]="index"
  />
  <label for="item2">{{ config.questions[index].option2 }}</label>
</div>
<div *ngIf="config.questions[index].option3">
  <input
    (change)="onChange(index, 3)"
    [checked]="isChecked(index, 3)"
    type="radio"
    id="item3"
    [name]="index"
  />
  <label for="item3">{{ config.questions[index].option3 }}</label>
</div>
<div *ngIf="config.questions[index].option4">
  <input
    (change)="onChange(index, 4)"
    [checked]="isChecked(index, 4)"
    type="radio"
    id="item4"
    [name]="index"
  />
  <label for="item4">{{ config.questions[index].option4 }}</label>
</div>
<div *ngIf="config.questions[index].option5">
  <input
    (change)="onChange(index, 5)"
    [checked]="isChecked(index, 5)"
    type="radio"
    id="item5"
    [name]="index"
  />
  <label for="item5">{{ config.questions[index].option5 }}</label>
</div>

<!-- Navigating buttons between questions -->
<button (click)="navigate('first')">Fisrt</button>
<button (click)="navigate('previous')">Previous</button>
<button (click)="navigate('next')">Next</button>
<button (click)="navigate('last')">Last</button>
<!-- Submit buttons -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Are you sure?!</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <button (click)="modal.close('Save click')">Submit</button>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      NO!
    </button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">
  Submit
</button>
