<div class="container">
  <!-- Add quiz topic -->
  <ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink (click)="navigateBack()">Back</a>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Add item</a>
      <ng-template ngbNavContent>
        <div class="container">
          <app-add-item></app-add-item>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>View all</a>
      <ng-template ngbNavContent>
        <div class="container">
          <app-inventory-list></app-inventory-list>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>