<div *ngIf="view == 'select'">
  <div class="list-group">
    <div
      class="list-group-item list-group-item-action"
      style="
        background-color: #f26925;
        color: white;
        text-align: center;
        font-size: x-large;
        font-weight: bold;
      "
    >
      Select a Quiz Subject
    </div>
    <div class="list-group-item list-group-item-action">
      <div class="row">
        <button
          class="btn btn-primary col-3"
          (click)="open(content3, 'new', subject)"
          [disabled]="subjectText == ''"
        >
          +
        </button>
        <input
          [(ngModel)]="subjectText"
          class="col-9"
          #subject="ngModel"
          type="text"
          placeholder="Add a subject"
        />
      </div>
    </div>
    <a
      class="list-group-item list-group-item-action"
      *ngFor="let item of subjects"
      (click)="setSubject(item)"
    >
      <h3>{{ item.subjectName | titlecase }}</h3>
    </a>
  </div>
</div>

<!-- Second stage: choose/make questions -->
<div *ngIf="view != 'select'">
  <div class="row">
    <div class="col-8">
      <h1 class="">
        {{ focusedQuiz.subject.subjectName | titlecase }}
      </h1>
    </div>
    <div class="col-4 row">
      <div class="col-6">
        <button class="btn btn-block"
                style="background-color: #f26925; color: white;"
                (click)="onBack()">
          Cancel
        </button>
      </div>
      <div class="col-6">
        <button [disabled]="!isValid"
                (click)="submitChanges()"
                class="btn btn-block"
                style="background-color: #f26925; color: white;">
          Save
        </button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="topic">Topic</label>

    <input type="text"
           class="form-control"
           id="topic"
           name="name"
           (change)="validate()"
           [(ngModel)]="focusedQuiz.quizTopic" />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text"
           class="form-control"
           id="description"
           name="name"
           [(ngModel)]="focusedQuiz.quizDescription" />
  </div>

  <div class="form-group">
    <label for="difficulty">Difficulty</label>
    <select class="form-control" name="difficulty" id="difficulty" [(ngModel)]="focusedQuiz.quizDifficulty">
      <option value="easy">Easy</option>
      <option value="medium">Medium</option>
      <option value="hard">Hard</option>
    </select>
  </div>

  <div class="border">
    <div style="background-color: #474c55;">
      <div class="text-white form-group" style="text-align: center;">
        <h2>Questions</h2>
      </div>

      <div style="margin: 0 0 1rem 0;" class="form-group row">
        <div class="col-6 text-white" style="text-align: center;">
          Total questions: {{ focusedQuiz.questions.length }}
        </div>
        <div class="col-6 text-white" style="text-align: center;">
          Total points: {{ focusedQuiz.quizTotalPoints }}
        </div>
      </div>
    </div>

    <div class="form-group border">
      <button (click)="open(content, 'new')"
              class="btn btn-block"
              style="background-color: #f26925; color: white;">
        Add New Question
      </button>
      <div class="container"
           *ngFor="let item of focusedQuiz.questions; let i = index">
        <div class="row border">
          <button (click)="open(content, item)"
                  class="btn btn-outline-success col-2">
            Edit
          </button>
          <button (click)="open(content2, item)"
                  class="btn btn-outline-danger col-2">
            Delete
          </button>
          <div class="col-6">{{ item.question | slice: 0:50 }}...</div>
          <div class="col-2 text-right">{{ item.questionValue }} pts</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Question -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Question Update</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="atp">All That Apply</label>
      <input 
      #atp 
      class="form-control" 
      type="checkbox" 
      id="atp" 
      style="width: 1.25em; height: 1.25em;"
      [checked]="isATP"
      (change)="yesATP(atp.checked)">
    </div>
    <form #questionForm="ngForm">
      <div class="form-group">
        <div class="input-group">
          <label for="question">Question</label>
          <div class="input-group">
            <input
              id="question"
              class="form-control"
              placeholder="Question Text"
              name="question"
              required
              [ngModel]="focusedQuestion.question"
              #question="ngModel"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <label for="questionValue">Point value</label>
          <div class="input-group">
            <input
              id="questionValue"
              class="form-control"
              type="number"
              required
              name="questionValue"
              [ngModel]="focusedQuestion.questionValue"
              #questionValue="ngModel"
            />
          </div>
        </div>
      </div>
      <div *ngIf="isATP">
        <div class="form-group">
          <div class="input-group">
            <label for="correctAnswerNumber">Number of Correct Options</label>
            <div class="input-group">
              <input
                id="correctAnswerNumber"
                class="form-control"
                min="1"
                max="20"
                type="number"
                required
                name="correctAnswerNumber"
                (change)="updateCorrect($event.target.value)"
                [ngModel]="focusedQuestion.correctAnswerNumber"
                #correctAnswerNumber="ngModel"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="form-group">
        <button type="button" class="btn btn-outline-dark" (click)="updateCorrect(3)">Update</button>
      </div> -->
      <div *ngFor="let loops of looper">
        <div class="form-group">
          <div class="input-group">
            <label for="correctAnswerNumber">Number of Correct Options</label>
            <div class="input-group">
              <input
                id="correctAnswerNumber"
                class="form-control"
                min="1"
                max="20"
                type="number"
                required
                name="correctAnswerNumber"
                (change)="updateCorrect($event.target.value)" />
          </div>
        </div>
      </div>
      <!-- <div class="form-group">
        <button type="button" class="btn btn-outline-dark" (click)="updateCorrect(3)">Update</button>
      </div> -->
      <div *ngFor="let loops of looper; let i of index">
        <div class="form-group">
          <div class="input-group">
            <label for="correctAnswer">Correct Option</label>
            <div class="input-group">
              <input
                id="correctAnswer"
                class="form-control"
                min="1"
                max="5"
                type="number"
                required
                (change)="updateCorrectArray($event.target.value, i)"
                name="correctAnswer"
                [ngModel]="focusedQuestion.correctAnswer"
                #correctAnswer="ngModel"
              />
            </div>
          </div>
        </div>
      </div>
      <label for="options">Options: </label>
      <div class="input-group">
        
        <div  *ngFor = "let option of options; trackBy:indexTracker; let i=index" class="form-group" >
          <label>
            {{options[i]}}
          </label>
          <input type="text" id="options" 
              class="form-control"
              [(ngModel)] = "options[i]"
              placeholder="Enter new option here"
              [ngModelOptions]="{standalone: true}"
              />
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-success" type="button" (click) = "addOption()">Add</button>
        <button class="btn btn-danger" type="button" (click) = "removeOption()">Remove</button>
      <div *ngFor = "let option of options" class="form-group">
        
        <div  *ngFor = "let option of options; trackBy:indexTracker; let i=index" class="form-group" >
          <label>
            {{options[i]}}
          </label>
          <input type="text" id="options" 
              class="form-control"
              [(ngModel)] = "options[i]"
              placeholder="Enter new option here"
              [ngModelOptions]="{standalone: true}"
              />
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-success" type="button" (click) = "addOption()">Add</button>
        <button class="btn btn-danger" type="button" (click) = "removeOption()">Remove</button>
      </div>

        <!-- <div class="input-group">
          <input
            id="option1"
            class="form-control"
            required
            placeholder="Enter new option here"
            name="option1"
            [ngModel]="focusedQuestion.option1"
            #option1="ngModel"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input
            id="option2"
            required
            class="form-control"
            placeholder="Enter new option here"
            name="option2"
            [ngModel]="focusedQuestion.option2"
            #option2="ngModel"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input
            id="option3"
            class="form-control"
            placeholder="Enter new option here"
            name="option3"
            [ngModel]="focusedQuestion.option3"
            #option3="ngModel"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input
            id="option4"
            class="form-control"
            placeholder="Enter new option here"
            name="option4"
            [ngModel]="focusedQuestion.option4"
            #option4="ngModel"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input
            id="option5"
            class="form-control"
            placeholder="Enter new option here"
            name="option5"
            [ngModel]="focusedQuestion.option5"
            #option5="ngModel"
          />
        </div>
      </div> -->
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      [disabled]="!questionForm.valid"
      class="btn btn-outline-dark"
      (click)="modal.close({ type: 'update', value: questionForm.value })"
    >
      Save
    </button>
  </div>
</ng-template>

<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h3>Are you sure you want to remove this question?</h3>
    <div>
      {{ focusedQuestion.question }}
    </div>
    <button (click)="modal.close({ type: 'delete', value: focusedQuestion })">
      Confim
    </button>

    <button (click)="modal.dismiss('Cross click')">Cancel</button>
  </div>
</ng-template>

<ng-template #content3 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h3>Add new Subject?</h3>
    <div>
      {{ subjectText }}
    </div>
    <button (click)="modal.close({ type: 'subject', value: focusedQuestion })">
      Confim
    </button>

    <button (click)="modal.dismiss('Cross click')">Cancel</button>
  </div>
</ng-template>
