<!-- Number correctly answered -->
<h2>
  Total Questions Answered Correctly: {{ parentalunit.results.correctAnswers }}
</h2>
<!-- Total questions in test for  correct / possible -->
<h2>Total Questions in the Quiz: {{ parentalunit.results.totalQuestions }}</h2>
<!-- Points earned from this attempt -->
<h2>Total Points Received: {{ parentalunit.results.totalPoints }}</h2>
<!-- Back button -->
<button (click)="onRetake()">Retake Test</button>
<!-- back to quiz overview page -->
<button routerLink="/quizzes">Back</button>
