$orange: #F26925;
$primary: $orange;

$blue: #72A4C2;
$info: $blue;

$yellow: #FCB414;
$warning: $yellow;

$dark: #474C55;
$gray: #8989BA;

$font-family-sans-serif: Roboto, "Helvetica Neue", sans-serif;