$orange: #F26925;
$primary: $orange;

$blue: #72A4C2;
$info: $blue;

$yellow: #FCB414;
$warning: $yellow;

$dark: #474C55;
$gray: #8989BA;

$font-family-sans-serif: Roboto, "Helvetica Neue", sans-serif;

$border: 1px solid rgba(0, 0, 0, 0.1);
$shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
$radius: 5px;

$width: 250px;
$height: $width;