/* You can add global styles to this file, and also import other style files */
.btn-outline-orange{
    color: #F26925 !important;
    border-color: #F26925 !important;
}
.btn-outline-orange:hover{
    color: #fff !important;
    background-color: #F26925 !important;
    border-color: #F26925 !important;
}
.text-sm{
    font-size: 12px;
    margin-top: 3px;
}

html {
    height: 98vh;
}

body {
    height: 98vh;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
