<div class="container shadow my-4 p-4">
  <form #f="ngForm" (submit)="addItem()">
    <!-- INPUT FIELDS -->
    <p class="display-4 text-center">Add Item to Inventory</p>

    <div class="form-group">
      <label for="inputName">Name</label>
      <input
        type="text"
        class="form-control"
        id="inputName"
        name="name"
        [(ngModel)]="product.name"
      />
    </div>
    <div class="form-group">
      <label for="inputDescription">Description</label>
      <input
        type="text"
        class="form-control"
        id="inputDescription"
        name="description"
        [(ngModel)]="product.description"
      />
    </div>
    <div class="form-group">
      <label for="inputManufacturerID">Manufacturer ID</label>
      <input
        type="number"
        class="form-control"
        id="inputManufacturerID"
        name="manufacturerID"
        [(ngModel)]="product.manufacturerID"
      />
    </div>
    <div class="form-group">
      <label for="inputModel">Model</label>
      <input
        type="text"
        class="form-control"
        id="inputModel"
        name="model"
        [(ngModel)]="product.model"
      />
    </div>
    <div class="form-group">
      <label for="inputCategoryID">Category ID</label>
      <input
        type="number"
        class="form-control"
        id="inputCategoryID"
        name="categoryID"
        [(ngModel)]="product.categoryID"
      />
    </div>
    <div class="form-group">
      <label for="inputImage">Image</label>
      <input
        type="text"
        class="form-control"
        id="inputImage"
        name="image"
        [(ngModel)]="product.image"
      />
    </div>
    <div class="form-group">
      <label for="inputQuantity">Quantity</label>
      <input
        type="number"
        class="form-control"
        id="inputQuantity"
        name="quantity"
        [(ngModel)]="product.quantity"
      />
    </div>
    <div class="form-group">
      <label for="inputUnitPrice">Unit Price</label>
      <input
        type="number"
        class="form-control"
        id="inputUnitPrice"
        name="unitPrice"
        [(ngModel)]="product.unitPrice"
      />
    </div>
    <div class="form-group">
      <label for="inputColor">Color</label>
      <input
        type="text"
        class="form-control"
        id="inputColor"
        name="color"
        [(ngModel)]="product.color"
      />
    </div>

    <!-- BUTTON -->
    <div class="container mt-4">
      <button type="submit" class="btn btn-success col-6">Submit</button>
      <button type="reset" class="btn btn-warning col-6">Reset</button>
    </div>
  </form>
</div>
