<div *ngIf="evalAccount">
  <div class="container">
    <div class="input-group justify-content-center">
      <input id="search-box" class="col-10 my-2 form-control" [(ngModel)]="searchText"
        placeholder="Type in the topic..." />
    </div>

    <div class="quiz" id="accordion" *ngFor="let quizdata of quizData | filter: 'quizTopic':searchText">
      <div class="row row-1 align-items-center">
        <div class="col-5">
          <img src="assets/Images/orangeQuizLogoCrop.jpg">
        </div>
        <div class="col-7">
          <div class="row">
            <h1>{{ quizdata.subject.subjectName | titlecase }}</h1>
          </div>
          <div class="row">
            <h2>{{ quizdata.quizTopic | titlecase }}</h2>
          </div>
          <div class="row">
            {{ quizdata.quizDescription }}
          </div>
          <div class="row align-items-center row-2">
            <div class="col-4">
              <b>Points: </b>{{quizdata.quizTotalPoints}}
            </div>
            <div class="col-5">
              <span>{{quizdata.quizAttempt}}</span>&nbsp;attempt(s) remaining
            </div>
            <a class="btn" id="detailsBtn" routerLink="/quizzes/{{ quizdata.quizId }}">Enter</a>
          </div>
          <!-- show only if the quiz has been taken at least once -->
          <!-- add *ngIf="attempts" -->
          <div> 
            <div class="row align-items-center row-2">
              <div class="col-9">
                <span class="panel-title">Recent Score:&nbsp;</span><span>attempts[-1].userScore%</span>
              </div>
              <button class="btn" (click)="showReview(quizdata.quizId)">Review</button>
            </div>
          </div>

        </div>
      </div>
      <!-- review details and options -->
      <div class="small-text hide" id="review{{quizdata.quizId}}">
          <div class="row justify-content-around align-items-center skinny-row">
            <div class="col-1">S.No.</div>
            <div class="col-2">Submitted On</div>
            <div class="col-2">Status</div>
            <div class="col-2">Score (%)</div>
            <div class="col-3">Action</div>
          </div>
          <div>
            <div class="row justify-content-around align-items-center skinny-row" *ngFor="let a of attempts">
              <div class="col-1">{{a.userScoreId}}</div>
              <div class="col-2">{{a.submitDate}}</div>
              <div class="col-2">{{a.status}}</div>
              <div class="col-2">{{a.userScore}}%</div>
              <div class="col-1">
                <!-- add (click)="getAttemptAnswers(a.userScoreId)" -->
                <a data-toggle="modal" data-target="#exampleModalLong" (click)="getAttemptAnswers(a.userScoreId)">Review</a>
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Review Quiz</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <!-- populate modal with questions and answers -->
                        <!-- add *ngFor="let q of questions; let a of answers; let i = index" -->
                        <div *ngFor="let q of questions; let a of answers; let i = index">
                          <h4><span>{{i+1}}. &nbsp;</span>{{q.question.question}}</h4>
                          <!--  add *ngIf="q.option1" -->
                          <div class="m-3" *ngIf="q.option1"> 
                            <!-- <input id="{{Option.id}}" type="checkbox" disabled="disabled" [(ngModel)]="Option.selected" /> {{Option.name}} -->
                            <!-- [checked]="isChecked(index, 1)"? -->
                            <input class="form-check-input" type="radio" disabled="disabled" id="item1"/>
                            <label class="form-check-label" for="item1">{{q.question.option1}}</label>
                          </div>
                          <div class="m-3">
                            <input class="form-check-input" type="radio" disabled="disabled" id="item2"/>
                            <label class="form-check-label" for="item2">{{q.question.option2}}</label>
                          </div>
                          <div class="m-3">
                            <input class="form-check-input" type="radio" disabled="disabled"
                              id="item3"/>
                            <label class="form-check-label" for="item3">{{q.question.option3}}</label>
                          </div>
                          <div class="m-3">
                            <input class="form-check-input" type="radio" disabled="disabled"
                              id="item4"/>
                            <label class="form-check-label" for="item4">{{q.question.option4}}</label>
                          </div>
                          <div class="m-3">
                            <input class="form-check-input" type="radio" disabled="disabled"
                              id="item5"/>
                            <label class="form-check-label" for="item5">{{q.question.option5}}</label>
                          </div>
                        </div>
                        ...
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <a>View Answers</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>