@import '../../../../styles';

section{
    display: flex;
    box-shadow: $shadow;
    height: $height;
    margin: 2rem 0;
    
    img{
        width: $width;
        height: $height;
        object-fit: cover;
    }

    .quizInfo{
        border-bottom: $border;
        width: 100%;
        padding: 1rem 2rem 0;
    }
    .quizDetails{
        width: 100%;
        display: flex;
        justify-content:space-between;
        align-content: center;
        flex-direction: row;
        padding: 1rem 2rem 0;

        .button{
            padding: 0.5rem;
        }
        
        .difficulty{
            padding: 0.25rem 1rem;
            font-size: small;
            background-color: $warning;
            border-radius: 2px;
        }
    }
}

