<!-- Below is the search function that you can search through the list of quiz names to limit the ngFor to displaying only what you search for -->
  <div *ngIf="evalAccount">
    <div class="container" style="background-color: #f26925;">
      <h3 class="text-center ml-2">Search for a Quiz Topic</h3>
    </div>


    <div class="input-group ml-2 justify-content-center">
      <input id="search-box"
             class="col-6 my-2 form-control"
             [(ngModel)]="searchText"
             placeholder="Type in the topic..." />
      <!-- <select [(ngModel)]="searchSubject">
      <option value="">All</option>
      <option value="Java">Java</option>
      <option value="SQL">SQL</option>
      <option value="Angular">Angular</option>
    </select> -->
  </div>
  <!--This is the list of quizzes -->
  <ol class="col-6 offset-3">
    <li
      class="border p-2 my-2"
      *ngFor="let quizdata of quizData | filter: 'quizTopic':searchText"
    >
      <div>
        <b><em>Subject: </em></b>{{ quizdata.subject.subjectName | titlecase }}
        <br />
        <b><em>Topic: </em></b><a routerLink="/quizzes/{{ quizdata.quizId }}">
          {{ quizdata.quizTopic | titlecase }}
        </a>
        <br />
        <b><em> Description: </em></b> {{ quizdata.quizDescription }}
        <br />
        <b><em> Points: </em> </b>{{quizdata.quizTotalPoints}}
      </div>
      <!-- Will Display which Quizzes are completed -->
      <!-- <div *ngIf="quiz ==  quizdata.quizId">
          <div class=""><b><em><u>Completed</u></em></b></div>
          <b><em>Subject: </em></b>{{ quizdata.subject.subjectName | titlecase }}
          <br />
          <b><em>Topic: </em></b><span>{{quizdata.quizTopic | titlecase}}</span>
          <br />
          <b><em> Description: </em></b> {{ quizdata.quizDescription }}
        </div> -->
        <div *ngIf="!outOfAttempts">
          <button><a routerLink="/quizzes/{{ quizdata.quizId }}">Enter</a></button>
        </div>
        <div *ngIf="attempted">
          <button>Review</button>
        </div>
      </li>
    </ol>
  </div>
<div *ngIf="!evalAccount" class="text-center">
  <a routerLink="/account/settings">
    <h3>You need to create an account!</h3>
  </a>
</div>
