<div *ngIf="evalAccount">
  <div class="container w-75">
    <div class="input-group justify-content-center">
      <input id="search-box" class="form-control" [(ngModel)]="searchText" placeholder="Type in the topic..." />
    </div>
    <ng-container>
      <section *ngFor="let quizdata of quizData | filter: 'quizTopic':searchText; let i = index" class="quiz">
        <img src="assets/Images/orangeQuizLogo.jpg">
        <div class="w-100">
          <div class="quizInfo">
            <h2>{{ quizdata.subject.subjectName | titlecase }}</h2>
            <h4>{{ quizdata.quizTopic | titlecase }}</h4>
            <p>{{ quizdata.quizDescription }}</p>
            <p>
              <strong>Points:</strong> {{quizdata.quizTotalPoints}}<br>
            </p>
          </div>
          <div class="quizDetails">
            <h6 class="text-white difficulty">{{quizdata.quizDifficulty | uppercase }}</h6>
            <!-- <p class="text-center">{{ 3 - attempts[i] }} Attempts Remaining</p> -->
            <div *ngIf="attempts[i] == undefined; then new else taken"></div>
              <ng-template #taken><p class="text-center">{{ 3 - attempts[i] }} Attempts Remaining</p> </ng-template>
              <ng-template #new><p class="text-center">3 Attempts Remaining</p></ng-template>
            
            <a class="btn btn-info button" routerLink="/quizzes/{{ quizdata.quizId }}">Details</a>
          </div> 
        </div>
      </section>
    </ng-container>
    </div>
  </div>
