<div class="container shadow m-4 p-4">
    <div *ngIf="user.userDiscounted">
        you have a discount of {{user.userDiscount}}
    </div>
    <section class="row">
        <!-- SIDEBAR -->
        <aside class="col-3">
            <form>
                <!-- PRODUCT SEARCH -->
                <div class="form-group form-inline">
                    Product Search: <input class="form-control" type="text" name="searchTerm" [(ngModel)]="service.searchTerm" />
                    <div *ngIf="userType === 'admin'">
                        <button class="btn btn-orange mt-3" routerLink="/inventory/add-item">New Item
                            <em class="fas fa-plus"></em></button>
                    </div>
                    <span class="px-4" *ngIf="service.loading$ | async">Loading...</span>
                </div>
            </form>
        </aside>
        <!-- PRODUCT CARDS -->
        <div class="col-9">
            <section class="row">
                <div class="col-4" *ngFor="let product of products$ | async; let idx = index">
                    <article class="card">
                        <img class="card-img-top" src="{{product.image}}" alt="product_img">
                        <div class="card-body">
                            <h4 class="card-title">{{product.name}}</h4>
                            <!-- <p class="card-text">{{product.description}}</p> -->
                            <p class="card-text">{{product.brand}}</p>
                            <aside class="container-fluid">
                                <div class="row">
                                    <div class="col-6">
                                        <span [style.text-decoration]="product.discounted ? 'line-through' : 'none'">
                                            {{product.unitPrice | number}}</span><br />
                                        <span *ngIf="product.discounted === true" style="color:#FF0000">{{product.discountedAmount | number}}% OFF!!!!! {{product.unitPrice - (product.unitPrice * (product.discountedAmount*0.01))}}</span>

                                    </div>
                                    <div class="col-6">
                                        <!-- SHOW IF ADMIN -->
                                        <div *ngIf="userType==='admin'">
                                            <button class="btn btn-orange" (click)="open(product)">
                                                Update
                                                <em class="fas fa-pencil-alt"></em>
                                            </button>
                                        </div>
                                        <!-- SHOW IF CUSTOMER -->
                                        <div *ngIf="userType==='customer'">
                                            <button class="btn btn-orange" (click)="open(product)">
                                                Detail
                                                <em class="fas fa-cart-plus"></em>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </section>
</div>