<h5 class="display-4 text-center m-3" style="color: #474C55">Inventory</h5>
<div class="container shadow m-4 p-4">
	<form>
		<!-- PRODUCT SEARCH -->
		<div class="form-group form-inline">
			Product Search: <input class="form-control ml-2" type="text" name="searchTerm"
				[(ngModel)]="service.searchTerm" />
			<span class="m-4" *ngIf="service.loading$ | async">Loading...</span>
			<div *ngIf="userType === 'admin'">
				<button class="btn btn-outline-orange float-right ml-3" routerLink="/inventory/add-item">New Item
					<em class="fas fa-plus"></em></button>
			</div>
		</div>

		<!-- TABLE -->
		<table class="table table-striped table-sm table-responsive-lg">
			<caption>List of Products</caption>
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col" sortable="id" (sort)="onSort($event)" *ngIf="userType === 'admin'">ID</th>
					<th scope="col">Image</th>
					<th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
					<th scope="col" sortable="description" (sort)="onSort($event)">Description</th>
					<th scope="col" sortable="quantity" (sort)="onSort($event)">Quantity</th>
					<th scope="col" sortable="unitPrice" (sort)="onSort($event)">Price</th>
					<th scope="col" sortable="brand" (sort)="onSort($event)">Brand</th>
					<th scope="col" sortable="model" (sort)="onSort($event)">Model</th>
					<th scope="col" sortable="category" (sort)="onSort($event)">Category</th>
					<th scope="col" sortable="color" (sort)="onSort($event)">Color</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let product of products$ | async; let idx = index">
					<th scope="row">{{ idx+1 }}</th>
					<td *ngIf="userType === 'admin'">
						<ngb-highlight [result]="product.id" [term]="service.searchTerm"></ngb-highlight>
					</td>
					<td>
						<img class="media-img rounded d-block mr-4 ml-4" src="{{product.image}}" alt="product_img">
					</td>
					<td>
						<ngb-highlight [result]="product.name" [term]="service.searchTerm"></ngb-highlight>
					</td>
					<td>
						<ngb-highlight [result]="product.description" [term]="service.searchTerm"></ngb-highlight>
					</td>
					<td>
						<ngb-highlight [result]="product.quantity | number" [term]="service.searchTerm"></ngb-highlight>
					</td>
					<td>
						<ngb-highlight [result]="product.unitPrice | number" [term]="service.searchTerm">
						</ngb-highlight>
						<p class="text-sm m-0"><strong>Points</strong></p>
					</td>
					<td>
						<ngb-highlight [result]="product.brand" [term]="service.searchTerm"></ngb-highlight>
					</td>
					<td>
						<ngb-highlight [result]="product.model" [term]="service.searchTerm"></ngb-highlight>
					</td>
					<td>
						<ngb-highlight [result]="product.category" [term]="service.searchTerm"></ngb-highlight>
					</td>
					<td>
						<ngb-highlight [result]="product.color" [term]="service.searchTerm"></ngb-highlight>
					</td>

					<!-- BUTTONS -->
					<td>
						<!-- SHOW IF ADMIN -->
						<div *ngIf="userType === 'admin'">
							<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
								<div class="btn-group mr-2 mb-2" role="group" aria-label="First group">
									<button class="btn btn-outline-orange" (click)="open(product)">Update
										<em class="fas fa-pencil-alt"></em>
									</button>
								</div>
								<div class="btn-group mr-2 mb-2" role="group" aria-label="Second group">
									<button type="button" class="btn btn-outline-danger"
										(click)="deleteItem(product)">Remove
										<em class="fas fa-trash-alt"></em>
									</button>
								</div>
							</div>
						</div>
						<!-- SHOW IF CUSTOMER -->
						<div *ngIf="userType === 'customer'">
							<button class="btn btn-outline-orange" (click)="open(product)">Detail
								<em class="fas fa-cart-plus"></em>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- PAGINATION -->
		<div class="d-flex justify-content-between p-2">
			<ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
			</ngb-pagination>

			<select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
				<option [ngValue]="5">5 items per page</option>
				<option [ngValue]="10">10 items per page</option>
				<option [ngValue]="15">15 items per page</option>
			</select>
		</div>
	</form>
</div>