*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
#earnpoints{
    padding: 2rem 0;
    margin: 0 auto;
    width: 70%;
}

article{
    display: flex;
}

article div{
    padding: 0 2rem;
}

section{
    display: flex;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    height: 200px;
    margin: 2rem 0;
}

section img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

section div{
    padding: 1rem 1.5rem;
}

section .button{
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 0.5rem;
    background-color: #72A4C2;
    border: none;
}