<header [config]="headerConfig"></header>
<div *ngIf="isLoggedIn==false">
  <login-page></login-page>
</div>
<div *ngIf="isLoggedIn == true">
  <div class="bg-secondary">
    <div class="container">
      <div class="row" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="" (click)="onHome()">{{ rootPage }}</a>
          </li>
          <li id="breadCrumbNav" class="breadcrumb-item active" *ngFor="let breadCrumb of breadcrumbs; index as i"
            aria-current="page">
            <a routerLink="{{ routerCrumbs[i] }}">{{ breadCrumb }}</a>
          </li>
        </ol>
        <div class="col-1 offset-9">{{ rootConfig.userType }}</div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>


<!-- [config]="quizConfig" -->
<!--<quiz-page [config] = "quizPageConfig"></quiz-page>-->
<!-- <individual-quiz-page [config]="quizConfig"></individual-quiz-page> -->