<div class="text-center">
<p>You have scored</p>
  <div *ngIf="parentalunit.results.correctAnswers / parentalunit.results.totalQuestions > 0.7; then passed else failed"></div>
  <ng-template #passed>
    <div class="pass rounded-circle" >
      <h2 class="text-white">{{ parentalunit.results.correctAnswers / parentalunit.results.totalQuestions | percent }}</h2>
    </div>
    <p>Congratulations! You passed.</p>
  </ng-template> 
  <ng-template #failed>
    <div class="fail rounded-circle" >
      <h2 class="text-white">{{ parentalunit.results.correctAnswers / parentalunit.results.totalQuestions | percent }}</h2>
    </div>
    <p>We're sorry but you did not pass the quiz in this attempt</p>
  </ng-template> 

<!-- Number correctly answered-->
<h2>Total Correct: {{ parentalunit.results.correctAnswers }}</h2>
<!-- Total questions in test for  correct / possible -->
<h2>
  Total Questions Answered in the Quiz:
  {{ parentalunit.results.totalQuestions }}
</h2>
<!-- Points earned from this attempt -->
<h2>Total Points Received: {{ parentalunit.results.totalPoints }}</h2>

<p>What would you like to do next?</p>
<!-- back to quiz overview page -->
<button routerLink="/quizzes">Quizzes</button>
