<div class="text-center">
<p>You have scored</p>
<!--Group 2 change Percentage earned from attempt-->
<div class="percentage rounded-circle">
  <h2 class="text-white">{{ parentalunit.results.correctAnswers / parentalunit.results.totalQuestions | percent }}</h2>
</div>
<!--Group2 - TODO: adding a quote with ngIf for pass and fail -->

<!-- Number correctly answered -->
<h2>Total Correct: {{ parentalunit.results.correctAnswers }}</h2>
<!-- Total questions in test for  correct / possible -->
<h2>
  Total Questions Answered in the Quiz:
  {{ parentalunit.results.totalQuestions }}
</h2>
<!-- Points earned from this attempt -->
<h2>Total Points Received: {{ parentalunit.results.totalPoints }}</h2>

<p>What would you like to do next?</p>
<!-- back to quiz overview page -->
<button class="btn mb-2">REVIEW ATTEMPT</button>
<p>browse more <a routerLink="/quizzes">Quizzes</a></p>
</div>
