<!-- Below is the search function that you can search through the list of quiz names to limit the ngFor to displaying only what you search for -->
<div *ngIf="evalAccount">
  <div class="container">
    <h3 class="text-center ml-2">Search for a Quiz Topic</h3>
  </div>

  <div class="input-group ml-2 justify-content-center">
    <input id="search-box" class="col-3 my-2 form-control" [(ngModel)]="searchText"
      placeholder="Type in the topic..." />

  </div>
  <!--This is the list of quizzes -->
  <ng-container class="col-6 offset-3">
      <section *ngFor="let quizdata of quizData | filter: 'quizTopic':searchText" class="quiz">
        <img src="assets/Images/orangeQuizLogo.jpg">
        <div class="quizDetails">
          <h1>{{ quizdata.subject.subjectName | titlecase }}</h1>
          <h2>{{ quizdata.quizTopic | titlecase }}</h2>
          <p>{{ quizdata.quizDescription }}</p>
          <a class="btn" id="detailsBtn" routerLink="/quizzes/{{ quizdata.quizId }}">Details</a>
        </div>
      </section>
  </ng-container>
</div>
<div *ngIf="!evalAccount" class="text-center">
  <a routerLink="/account/settings">
    <h3>You need to create an account!</h3>
  </a>
</div>