<!-- Below is the search function that you can search through the list of quiz names to limit the ngFor to displaying only what you search for -->
<div *ngIf="evalAccount">
  <input [(ngModel)]="searchText" placeholder="search text goes here" />
  <select [(ngModel)]="searchSubject">
    <option value="">All</option>
    <option value="Java">Java</option>
    <option value="SQL">SQL</option>
    <option value="Angular">Angular</option>
  </select>
  <!--This is the list of quizzes -->
  <ol>
    <li *ngFor="let quizdata of quizData | filter: 'quizTopic':searchText">
      {{ quizdata.subject.subjectName | titlecase }}
      <a routerLink="/quizzes/{{ quizdata.quizId }}">{{
      quizdata.quizTopic | titlecase
    }}</a>
      : {{ quizdata.quizDescription }}
    </li>
  </ol>
</div>
<div *ngIf="!evalAccount" class="text-center">
  <a routerLink="/account/settings">
    <h3>You need to create an account!</h3>
  </a>
</div>