@import '../../../../styles';

#startBtn {
    background-color: $info;
    color: white;
    border-radius: $radius;
    border: none;
    padding: 0.75rem;
}

aside {
    box-shadow: $shadow;
    border-radius: $radius;
    height: 300px;

    & :last-child{
        border: none;
    }
}

.description, .instructions{
    border: $border;
    border-radius: $radius;
}

.description { 
    padding: 1rem; 
}

.instructions :last-child{
    border: none;
} 

.details{
    padding: 1rem;
    border-bottom: $border;

    a{
        color: $info;
    }
}

.fa-pencil-alt{
    background-color: $primary;
    border-radius: 50%;
    padding: 0.5rem;
    margin-right: 0.75rem;
    color: white;
}

